node_modules/
tmp/
src/Gtfs2Json/dataFiles/
src/Common/dataFiles/
src/OsmGtfsCompare/dataFiles/devData
src/OsmGtfsCompare/dataFiles/gtfs
src/OsmGtfsCompare/dataFiles/json
dist/OsmGtfsCompare/dataFiles/